body {
    background-color: #F0FFFF;

}
.container{

  background-color: #85848a;
  /*padding: 10px;*/
  margin: 0 auto;
  width: 50%;
  height: 250px;
}

.serch{

    margin: 0 auto;
/*  border-bottom: 1px solid #dddddd;*/
  padding: 15px;
  background-color: #43424b;
  height: 30px;
}
.input{
 margin: 0 auto;
 width: 85%;
 padding: 10px;
 border-radius: 8px;
 border-style: none;
 float: left;

}
.img{
width:30px;
height:30px;
  padding: 8px;
  float: left;
}
.divtable{
    background-color: #ffffff;
border-radius:6px;
  width:70%;
margin: 0 auto;
margin-top: 20px;


}
.table {
    border-collapse:separate;
    border-radius:6px;
     width: 100%;
    -moz-border-radius:6px;
    border-style: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    

}
th {
    background-color: #dddddd;
}

.main-content{
margin: 0 auto;
background-color: red;
width: 80%;



}

.table1{
 width:95%;
 border-radius: 8px;
  border-collapse: collapse;
  margin: 10px 15px;
  background-color: #fdfdfd;

}
.table1 th {
background-color: #bbbaba;
color: #333333;


}
.part1{
  width: 30%;
  background-color: #36353d;
  color: #ffffff;
  float: left;
  height: 250px;
}
.part2{
  margin: 0 auto;
background-color: #828187;
  width: 70%;
  float: right;
  color: #78808a;
    height: 250px;
    text-align: center;
}
.backbtn{
  border-radius: 9px;
  padding: 10px;
  color: #78808a;
border: 1px solid #bbbaba;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;

}
a{
  text-decoration: none;
  color: black;
}
